<a href="https://colab.research.google.com/github/kangyoon115/blog/blob/gh-pages/%EA%B8%B0%EA%B3%84%ED%95%99%EC%8A%B5_%EC%A1%B0%EA%B0%95%EC%9C%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#패키지 <- pandas "파이썬에서 엑셀처럼 데이터를 다루게 도와주는 툴"

import pandas as pd #pandas만 써도 되지만 약자로 pd로 쓰이고 있음
import numpy as np 

dataset = pd.read_csv("여행보험데이터.csv")

In [ ]:
dataset.head() #데이터 잘 들어왔는지 확인

In [7]:
dataset.info() #데이터 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1486 non-null   float64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: float64(1), int64(5), object(4)
memory usage: 116.5+ KB

Q) 여행 보험 패키지 상품을 구매할 확률 값을 구하시오( 내가 목표로하는 것은 특정 사람이 여행 보험 패키지를 구매할지 안할지 판단하기 위해 '구매할 확률을 계산'하는 것 )

In [10]:
# 학습 데이터 카테고리 수 확인
dataset.describe(include="object") #범주형 변수 = 오브젝트

,Employment Type,GraduateOrNot,FrequentFlyer,EverTravelledAbroad
count,1490,1490,1490,1490
unique,2,2,2,2
top,Private Sector/Self Employed,Yes,No,No
freq,1056,1270,1175,1209

In [11]:
dataset.describe(exclude="object") #수치형 변수

,id,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1490.000000,1490.000000,1.486000e+03,1490.000000,1490.000000,1490.000000
mean,10744.500000,29.600000,9.311238e+05,4.755705,0.280537,0.352349
std,430.270264,2.887829,3.764874e+05,1.603613,0.449412,0.477862
min,10000.000000,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,10372.250000,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,10744.500000,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,11116.750000,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,11489.000000,35.000000,1.800000e+06,9.000000,1.000000,1.000000

FamilyMembers	ChronicDiseases	TravelInsurance
와 같이 0으로 떨어지면 수치변수 중에서도 정수변수임을 알 수 있음

In [12]:
#결측지, null값이 몇개 있는지 합계
dataset.isnull().sum()

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           4
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [13]:
# 결측치 채우기 fillna()함수. dataset.[""]안에 있는 결측지 항목에 ()안의 값으로 채워라
dataset["AnnualIncome"] = dataset["AnnualIncome"].fillna(9.311238e+05	)

In [14]:
dataset.isnull().sum() #결측치가 채워졌는지 확인

id                     0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [ ]:
#FamilyMembers	ChronicDiseases	TravelInsurance 는 정수형 변수임을 알 수 있음

#ChronicDiseases 이진변수

In [15]:
dataset["FamilyMembers"].value_counts()

4    385
5    311
3    281
6    225
7    139
2     68
9     41
8     40
Name: FamilyMembers, dtype: int64

In [16]:
#종속변수 분포 확인 (범주형 종속변수라면 불균형이 있는지, 수치형 종속변수라면 쏠림현상 있는지 등)
dataset["TravelInsurance"].value_counts()

0    965
1    525
Name: TravelInsurance, dtype: int64

In [ ]:
# 7. 학습 데이터만 가지고 종속변수와 독립변수 간 상관관계 확인 -> 중요변수 확인 #다만, 종속변수가 연속형 변수여야 한다.

# 'AnnualIncome'변수의 상관성이 높은 것 확인
# 독립변수간 상관관계 없는 것으로 보임 (다중공선성 x)
# 사실 범주형 종속변수라 이렇게 보는 것 한계 O

In [18]:
nu_dataset = dataset.select_dtypes(exclude="object")
nu_dataset.head()

      id  Age  AnnualIncome  FamilyMembers  ChronicDiseases  TravelInsurance
0  10000   28     1250000.0              6                1                0
1  10001   31     1250000.0              7                1                0
2  10002   29     1200000.0              7                0                1
3  10003   33      650000.0              6                1                1
4  10004   28      800000.0              6                0                1

In [19]:
#상관관계(수치형 데이터로만 진행)->유의미한 변수 찾기
#여기서는 AnnualIncome가 0.382361의 값으로 가장 영향력있음을 파악할 수 있음
#다중공선성: 독립변수가 상관관계가 너무 높은 문제
nu_dataset.corr()

,id,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
id,1.000000,-0.010131,-0.013704,-0.000016,-0.030643,0.008693
Age,-0.010131,1.000000,-0.005363,0.024422,0.000103,0.073487
AnnualIncome,-0.013704,-0.005363,1.000000,-0.023881,-0.009454,0.382361
FamilyMembers,-0.000016,0.024422,-0.023881,1.000000,0.023405,0.095751
ChronicDiseases,-0.030643,0.000103,-0.009454,0.023405,1.000000,0.027263
TravelInsurance,0.008693,0.073487,0.382361,0.095751,0.027263,1.000000

In [20]:
# 8. 수치 데이터 이상치 확인 및 대체

# 이상치 탐색은 
# (1) Q1 - (IQR * 1.5)
#     Q3 + (IQR * 1.5)
    

# (2) 평균 +- 표준편차 * 3

# 방식으로 주로 해결함

In [23]:
# 극단치 바꾸기
cols=["Age","AnnualIncome","FamilyMembers",	"ChronicDiseases"] # 수치변수명 선택

#반복문 및 이중반복문
for i in cols:
  mean_=dataset[i].mean()
  std_=dataset[i].std() #표준편차

  min_value = mean_ - (std_*3) #최솟값 지정
  max_value = mean_ + (std_*3) #최댓값 지정

  for j in range(1490):
    if dataset[i][j] > max_value:
      dataset[i][j]=max_value

    elif dataset[i][j] < min_value:
      dataset[i][j]=min_value

In [26]:
#10. 범주형 변수 데이터 레이블링 진행 (모델에 input 시키기 위함)
#범주형 변수를 자동으로 1,2,3...으로 바꿔주는 것

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [29]:
cols = ["Employment Type", "GraduateOrNot", "FrequentFlyer", "EverTravelledAbroad"]

for col in cols:
  dataset[col] = le.fit_transform(dataset[col])

In [30]:
dataset.head() #GraduateOrNot에서 yes 와 no 대신 1과0으로 바뀌었음을 알 수 있음

,id,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,10000,28,1,1,1250000.0,6,1,0,0,0
1,10001,31,1,1,1250000.0,7,1,0,0,0
2,10002,29,1,1,1200000.0,7,0,0,0,1
3,10003,33,0,1,650000.0,6,1,0,0,1
4,10004,28,1,1,800000.0,6,0,0,1,1

In [143]:
# 11. 독릭변수와 종속변수 분리
# v_name = dataset.columns

v_name = ['Employment Type', 'GraduateOrNot', 'AnnualIncome',
       'FamilyMembers', 'ChronicDiseases', 'FrequentFlyer',
       'EverTravelledAbroad','Age'] #독립변수 8개

target_name = 'TravelInsurance' # +1개

# target = dataset[target_name] 
# dataset = dataset[v_name]

In [146]:
#잘들어갔는지 확인
dataset.head()

,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad
0,1,1,1250000.0,6,1,0,0
1,1,1,1250000.0,7,1,0,0
2,1,1,1200000.0,7,0,0,0
3,0,1,650000.0,6,1,0,0
4,1,1,800000.0,6,0,0,1

In [144]:
#12. train-validation 분리

from sklearn.model_selection import train_test_split

train_x,test_x, train_y, test_y = train_test_split(dataset, target, test_size=0.3, random_state=1)

In [145]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((1043, 7), (447, 7), (1043,), (447,))

In [46]:
#모델 선택 및 학습 4개

In [49]:
from sklearn.linear_model import LogisticRegression #로지스틱 회귀모델
from sklearn.svm import SVC #서포트벡터머신
from sklearn.ensemble import RandomForestClassifier #랜덤포레스트
from xgboost import XGBClassifier #XG부스트 모델

In [53]:
#모델 불러오기
model=LogisticRegression()

In [65]:
#모델 학습시키기
model.fit(train_x,train_y)

LogisticRegression()

In [66]:
 #결과: 학습한 모델을 이용하여 예측하기
pred_y = model.predict(test_x)

In [68]:
from sklearn.metrics import accuracy_score

In [70]:
 #정확도 계산하기
round(accuracy_score(test_y,pred_y),2)

0.67

In [71]:
pred_y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0])

In [142]:
#모델 불러오기
# model=LogisticRegression()
# model=SVC(kernel="rbf")
# model=RandomForestClassifier(max_depth=3)
model= XGBClassifier(max_depth=3,  random_state=1)

model.fit(train_x,train_y) #모델 학습시키기
pred_y = model.predict(test_x) #결과: 학습한 모델을 이용하여 예측하기
round(accuracy_score(test_y,pred_y),2) #정확도 계산하기

0.79

In [ ]:
#로지스틱 회귀분석: 0.67
#서포트 벡터 머신: 0.77 (로지스틱보다 10%나 올라감)
#랜덤 포레스트: 0.8 ()
#XG 부스트: 0.79